@import url("base.css");

@layer header {
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  header h1 {
    font-size: var(--h3);
    color: var(--secondary-color);
    font-weight: 300;
    margin: 0;
  }
  header a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  header a:hover {
    color: var(--quinary-color);
  }

  header .menu-button {
    background-color: rgb(0 0 0 / 0);
    border: 0;
    display: none;
  }

  header .menu-button span {
    font-size: 1.5rem;
    color: var(--secondary-color);
  }

  header .menu-button span:hover {
    transform: scale(1.1);
    color: var(--quinary-color);
  }

  nav {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  nav span {
    font-size: 2rem;
    color: var(--tertiary-color);
  }

  nav span:hover {
    color: var(--quinary-color);
  }

  @media (max-width: 700px) {
    header .menu-button {
      display: block;
    }
    nav {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: var(--primary-color);
      top: 60px;
      left: -100%;
      padding-top: 60px;
    }

    nav .nav-visible {
      left: 0;
    }

    nav ul {
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
    }

    nav li {
      font-size: var(--h2);
    }
nav li span {
  font-size: var(--h2);
}

    .header {
      display: flex;
      align-items: center;
    }
    header h1 {
      font-size: var(--h4);
  }

}

@layer intro {
  .intro {
    color: var(--secondary-color);
    padding: 6rem 0 10rem 0;
  }
  .name {
    font-weight: 600;
  }
  .intro h2 {
    font-size: calc(var(--h2) * 2);
    margin: 2rem 0;
  }
}

@layer projects {
  .projects {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 4rem 0 8rem 0;
  }

  .projects h2 {
    margin-bottom: 4rem;
  }

  .projects .slider {
    overflow: hidden;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
  }

  .projects .slides {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }

  .slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .slides > figure {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  }

  .projects .slider-button {
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    margin: 0 5px;
  }

  .projects .slider-button:hover {
    background-color: var(--quaternary-color);
    transform: scale(1.1);
    cursor: pointer;
  }

  .projects .slider-button:active {
    background-color: var(--tertiary-color);
    transform: scale(1.1);
  }

  figure {
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr;
  }

  figure .hidden {
    display: none;
  }

  figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
  }

  figcaption {
    background-color: var(--secondary-color);
    opacity: 0.8;
    color: var(--primary-color);
    transition: color 0.5s;
    transition: opacity 0.5s, background-color 0.5s;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  figure .full-display {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: var(--quinary-color);
    opacity: 0.9;
    color: var(--quaternary-color);
    padding: 0;
  }

  figure .full-display .hidden {
    display: block;
  }

  figure .full-display .close-button {
    width: 5rem;
    height: 5rem;
    fill: var(--quaternary-color);
    margin-right: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  figure .full-display .close-button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  figure .full-display p {
    max-width: 60%;
    margin: 1rem auto;
  }

  figure .full-display span {
    font-size: 3rem;
    color: var(--quaternary-color);
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  figure .full-display span:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  figure .full-display ul {
    margin: 0 0 1.5rem 0;
  }

  figcaption:hover {
    background-color: var(--quinary-color);
    color: var(--quaternary-color);
    opacity: 0.9;
  }

  figcaption .open-button:hover {
    cursor: pointer;
  }

  .full-display .open-button:hover {
    cursor: default;
  }

  figcaption .project-name {
    margin-bottom: 0;
    font-size: var(--h5);
  }

  figcaption ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 3rem 0;
    text-transform: uppercase;
    font-size: var(--small);
  }

  figcaption li {
    display: inline-block;
    margin: 0 0.25rem;
  }
}

@layer about {
  #about {
    padding: 4rem 0 4rem 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  #about img {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer contact {
  #contact {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .title-box {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }

  .line-left {
    height: 2px;
    width: 40%;
    background-color: var(--primary-color);
  }

  .line-right {
    height: 2px;
    width: 40%;
    background-color: var(--primary-color);
  }

  .title-box p {
    width: 20%;
    text-align: center;
  }

  .contact-box {
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-box a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--quinary-color);
  }
}